@use 'variaveis';

.hero {
    padding: 10vw 3vw;
    text-align: left;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('../images/mais_populares/hero.png');
    background-size: cover; 
    background-position: 100%; 
    background-repeat: no-repeat; 

    @media (max-width: 768px) {
        background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/mais_populares/hero.png');
    }

    &__button {

        &_first {
            padding: 24px 56px;
            margin-top: 2vw;
            margin-bottom: 8px;
            margin-right: 8px;
            border-radius: 8px;
            color: black;
            background-color: whitesmoke;
            font-size: 18px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            letter-spacing: 3px;
            border: none;

            &:hover {
                background-color: darken(whitesmoke, 10%);
                cursor: pointer;
            }
        }

        &_second {
            padding: 24px 48px;
            margin-top: 2vw;
            margin-bottom: 8px;
            margin-right: 8px;
            border-radius: 8px;
            color: whitesmoke;
            background-color: rgb(60, 60, 60);
            font-size: 18px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            letter-spacing: 3px;

            &:hover {
                background-color: lighten(rgb(60, 60, 60), 10%);
                cursor: pointer;
            }
        }
    }

    &__content {
        max-width: 100%;

        &__branding {
            max-width: 100%;
            margin: 0 auto 38px;

            @media (max-width: 768px) {
                max-width: 180px;
            }
        }

        .title--small {
            margin-bottom: 20px;
            color: rgb(31, 30, 30);

            @media (max-width: 768px) {
                color: rgb(226, 224, 224);
            }
        }

        p {
            margin-bottom: 20px;

            a{
                text-decoration: none;
                color: rgb(10, 10, 10);

                @media (max-width: 768px) {
                    color: rgb(171, 167, 167);
                }
            }

            span {
                color: rgb(51, 50, 50);

                @media (max-width: 768px) {
                    color: rgb(220, 219, 219);
                }
            }

            &:last-child {
                margin-top: 60px;
            }
        }
    }
}